	/*switch style css for switchbru by pwsincd*/
	/*Global style variable change these to change the whole theme*/
	/*many items could be grouped but kept it simple to read*/
	:root{
		/* Dark Theme
		--main-color:#2d2d2d;
		--side-color:#323232;
		--text-color:#fbfbfb;
		--border-focus-color:#6dccea;
		--text-focus-color:#0cb28e;
		--focus-background:black;
		Light Theme */
		--main-color:#ebebeb;
		--side-color:#efefef;
		--text-color:#393939;
		--border-focus-color:#6dccea;
		--text-focus-color:blue;
		--focus-background:#fdfdfd;
	}
	* {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	html,
	body {
		padding: 0;
		margin: 0;
	}
	body{
		color: var(--text-color);
		background-color: var(--main-color);
	}
	a {
		color: var(--text-focus-color);
		text-decoration: inherit;
	}
	/*animation for plulsation border*/
	@keyframes border-pulsate {
		0%   { border-color: rgba(0, 255, 255, 0.5); }
		50% { border-color: rgba(0, 255, 255, 1); }
		100%   { border-color: rgba(0, 255, 255, 0.5); }
	}
	/*menu item parent div*/
	.outer{
		-webkit-box-sizing: border-box;
		padding-left: 2%;
		width:90%;
		height:70px;
		display: flex;
		align-items: center;
		border-style:solid;
		border-width: 3px;
		border-color: var(--side-color);
		cursor: pointer;
	}
	.outer:hover{
		border-color: var(--border-focus-color);
		color:var(--text-focus-color);
		background-color: var(--focus-background);
		-webkit-transition-timing-function: ease-in-out;
		transition-timing-function: ease-in-out;
		transition: 0.5s;
		animation: border-pulsate 1.5s infinite;
	}
	/*menu item inner div*/
	.inner{
		padding-left: 2%;
		color:var(--text-color);
		-webkit-box-sizing: border-box;
		height:80%;
		width:95%;
		display: flex;
		align-items: center;
		border-left-style: solid;
		border-left-width: 3px;
		border-left-color: var(--side-color);
	}
	.inner:hover{
		border-left-color: var(--text-focus-color);
		color:var(--text-focus-color);
	}
	.inner-active{
		border-left-color: var(--text-focus-color);
		color:var(--text-focus-color);	
	}
	/*main body of page*/
	.container {
		display: -webkit-box;
		display: -webkit-flex;
		display: flex;
		overflow: hidden;
		height: 100vh;
		margin-top: -100px;
		padding-top: 100px;
		position: relative;
		width: 100%;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		will-change: overflow;
	}
	/*header css*/
	.nav{
		display: flex;
		align-items: center;
		position: relative;
		z-index: 10;
		width:95%;
		height: 100px;
		padding-left:5%;
		padding-right:5%;
		background-color: var(--main-color);
		font-size: 1.9em;
		cursor: pointer;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: var(--text-color);
		margin-left: 2.5%;
	}
	#nav:hover #icon{
		color:var(--text-focus-color);
	}
	.time {
		display: flex;
		height:100px;
		z-index: 10;
		position: absolute;
		float:  right;
		right: 0;  
		top: 0;
		align-items: center;
		padding-right:5%;
	}
	/*left side menu parent*/
	.menu,
	.middle,
	.main {
		overflow: auto;
		height: auto;
		padding: .5rem;
		-webkit-overflow-scrolling: touch;
	}
	.menu{
		-webkit-box-sizing: border-box;
		padding-left: 7%;
		padding-top: 1%;
		padding-bottom: 1%;
		background-color: var(--side-color);         
		width:32rem;
		font-size: 1.3em;
	}
	/*right side content parent*/
	.main{
		-webkit-box-sizing: border-box;
		padding-left: 8%;
		padding-right: 8%;
		padding-top: 2%;
		padding-bottom: 1%;
		background-color: var(--main-color);
		width:68rem;
		font-size: 1.3em;
	}	
	/*google image sizing % positioning*/
	.google{
		text-align:center;
	}
	.google-rs{
		text-align: center;
		width:40%;
		height:10%;
	}
	.googlesearch{
		border:1px solid black;
		padding:4px;
		width:20em;
	}
	/*webkit image sizing and positioning*/
	.webkit {
		text-align: center;
		width:20%;
		height:10%;		
	}
	/*you tube sizing and styling*/
	.youtube {
		font-size: 0.9em;
		text-align:left;
	}
	.ytimg {
		text-align: center;
		width:10%;
		height:10%;
	}
	/*useful links flex-box control*/
	.flex {
		display: flex;
		flex-wrap: wrap;
	}
	.link {
		background-color: var(--side-color);
		width: 30%;
		margin: 5px;
		text-align: center;
		line-height: 50px;
		font-size: 1.1em;
		border-style:solid;
		border-width: 3px;
		border-color: var(--side-color);
		cursor: pointer;
	}
	.link:hover {
		border-color: var(--border-focus-color);
		color:var(--text-focus-color);
		background-color: var(--focus-background);
		-webkit-transition-timing-function: ease-in-out;
		transition-timing-function: ease-in-out;
		transition: 0.5s;
		animation: border-pulsate 1.5s infinite;
	}
	/*text entry and submit button styling*/
	input[type=text],input[type=url], select {
		font-size: 1.3em;
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		box-sizing: border-box;
		border-style:solid;
		border-width: 3px;
		border-color: var(--side-color);
		background-color: var(--main-color);
		color: var(--text-color);
	}
	input[type=text]:focus,
	input[type=text]:hover,
	input[type=url]:focus,
	input[type=url]:hover{
		outline: none;
		border-color: var(--border-focus-color);
		color:var(--text-focus-color);
		background-color: var(--focus-background);
		-webkit-transition-timing-function: ease-in-out;
		transition-timing-function: ease-in-out;
		transition: 0.5s;
		animation: border-pulsate 1.5s infinite;
	}
	input[type=submit] {
		font-size: 1.3em;
		width: 100%;
		background-color: var(--main-color);
		color: var(--text-color);
		padding: 14px 20px;
		margin: 8px 0;
		cursor: pointer;
		border-style:solid;
		border-width: 3px;
		border-color: var(--side-color);
	}
	input[type=submit]:hover {
		border-color: var(--border-focus-color);
		color:var(--text-focus-color);
		background-color: var(--focus-background);
		-webkit-transition-timing-function: ease-in-out;
		transition-timing-function: ease-in-out;
		transition: 0.5s;
		animation: border-pulsate 1.5s infinite;
	}